In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [4]:
data = pd.read_excel("aspiring_minds_employability_outcomes_2015.xlsx")

In [5]:
data.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

## Step 5 - Research Questions

In [21]:
dataForComputerScience = dataset.loc[dataset["Specialization"]=="computer science & engineering"]

In [22]:
dataForComputerScience["Designation"].value_counts()

software engineer              139
software developer              77
java software engineer          32
java developer                  29
system engineer                 28
                              ...
software analyst                 1
apprentice                       1
full stack developer             1
network security engineer        1
business analyst consultant      1
Name: Designation, Length: 152, dtype: int64

In [23]:
designationFilter = set([x for x in dataForComputerScience["Designation"] if ("software engineer" in x or "programmer analyst" in x )])
designationFilter

{'assistant software engineer',
 'associate software engineer',
 'java software engineer',
 'jr. software engineer',
 'junior software engineer',
 'programmer analyst',
 'programmer analyst trainee',
 'senior software engineer',
 'software engineer',
 'software engineer associate',
 'software engineer trainee',
 'software engineering associate',
 'trainee software engineer'}

In [24]:
dataForComputerScienceAndDesignation = dataForComputerScience.loc[dataForComputerScience["Designation"].isin(designationFilter)]

In [25]:
dataForComputerScienceAndDesignation.describe()

,ID,Salary,10percentage,12graduation,12percentage,CollegeID,CollegeTier,collegeGPA,CollegeCityID,CollegeCityTier,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
count,2.280000e+02,2.280000e+02,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,228.000000,...,228.000000,228.0,228.0,228.0,228.0,228.000000,228.000000,228.000000,228.000000,228.000000
mean,9.038650e+05,3.278509e+05,79.720219,2009.052632,75.867149,6262.828947,1.907895,72.929430,6262.828947,0.315789,...,274.473684,-1.0,-1.0,-1.0,-1.0,0.033546,0.248203,0.174775,-0.400344,-0.152085
std,2.367837e+05,1.671482e+05,8.864025,1.048112,10.164332,5312.320357,0.289811,7.923997,5312.320357,0.465852,...,218.143032,0.0,0.0,0.0,0.0,0.950531,0.809384,0.955089,1.022046,1.001952
min,2.871340e+05,7.000000e+04,53.400000,2003.000000,53.000000,28.000000,1.000000,6.850000,28.000000,0.000000,...,-1.000000,-1.0,-1.0,-1.0,-1.0,-2.744300,-2.951100,-2.602800,-2.643000,-3.960500
25%,7.437548e+05,2.750000e+05,73.950000,2008.000000,68.000000,1368.250000,2.000000,68.725000,1368.250000,0.000000,...,-1.000000,-1.0,-1.0,-1.0,-1.0,-0.468025,-0.120600,-0.451100,-1.121800,-0.717100
50%,9.181280e+05,3.100000e+05,81.000000,2009.000000,76.000000,4971.000000,2.000000,73.000000,4971.000000,0.000000,...,346.000000,-1.0,-1.0,-1.0,-1.0,0.128200,0.378900,0.163700,-0.487900,0.062850
75%,1.091834e+06,3.500000e+05,86.910000,2010.000000,84.000000,11538.000000,2.000000,77.060000,11538.000000,1.000000,...,438.000000,-1.0,-1.0,-1.0,-1.0,0.559100,0.711900,0.932200,0.272700,0.480500
max,1.283372e+06,2.050000e+06,95.000000,2011.000000,95.700000,17470.000000,2.000000,94.000000,17470.000000,1.000000,...,715.000000,-1.0,-1.0,-1.0,-1.0,1.995300,1.904800,2.535400,2.934900,1.630200

Hypothesis Testing

Step 1 $\implies$ $$ H_0(Status Quo) \implies \mu \leq 2.5 \\ H_1(Bold Claim) \implies \mu > 2.5 $$

Step 2 $\implies$ $$ Collecting \ samples \ from \ data $$

Step 3 $\implies$ $$ Calculating \ \mu_x \ and \ S^2 \ for \ the \ sample $$

Step 4 $\implies$ $$ Setting \ confidence \ level \ to \ 95 \% \\ \alpha = 0.05 $$

Step 5 $\implies$ $$ Computing \ t \ score \ and \ testing \ test \ staticstics \ with t \ and \ p \ test  $$

In [13]:
samplesSalary = dataForComputerScienceAndDesignation.loc[:, "Salary"]
samplesSalary.describe()

count    2.280000e+02
mean     3.278509e+05
std      1.671482e+05
min      7.000000e+04
25%      2.750000e+05
50%      3.100000e+05
75%      3.500000e+05
max      2.050000e+06
Name: Salary, dtype: float64

In [14]:
population_mean = 250000
samples_size = len(samplesSalary)
samples_mean = samplesSalary.mean()
samples_std = samplesSalary.std()

In [15]:
alpha = 1 - 0.95
print(alpha)

0.050000000000000044

In [16]:
def t_score(population_mean, sample_mean, samples_size, samples_std):
  numerator = population_mean - samples_mean
  denominator = samples_std / (samples_size ** 0.5)
  return numerator / denominator

In [17]:
t_calculated = t_score(population_mean, samples_mean, samples_size, samples_std)
print(t_calculated)

-7.0328140843395595

In [18]:
from scipy.stats import t

In [19]:
t_critical = t.ppf(1-alpha, df = (len(dataset.columns) - 1))
t_critical

1.685954457643814

In [20]:
if t_calculated > t_critical :
  print("Reject Null Hypothesis")
else:
  print("Failed to reject null hypothesis")

Failed to reject null hypothesis

##Part 2

Chi Square Testing

Step 1 $\implies$ $$ H_0(Status \ Quo) \implies Gender \ and \ Specialization \ are \ not \ related \\ H_1(Bold \ Claim) \implies Gender \ and \ Specialization \ are \ related $$

Step 2 $\implies$ $$ Collecting \ samples \ from \ data $$

Step 3 $\implies$ $$ Calculating \ chi2 \ score \ for \ the \ sample $$

Step 4 $\implies$ $$ Setting \ confidence \ level \ to \ 95 \% \\ \alpha = 0.05 $$

Step 5 $\implies$ $$ Testing \ test \ staticstics \ with \ chi2 \ test  $$

In [33]:
dataset["Gender"].value_counts()

m    3041
f     957
Name: Gender, dtype: int64

In [35]:
pd.crosstab(dataset["Specialization"], dataset["Gender"], margins=True)

Gender                                         f     m   All
Specialization
aeronautical engineering                       1     2     3
applied electronics and instrumentation        2     7     9
automobile/automotive engineering              0     5     5
biomedical engineering                         2     0     2
biotechnology                                  9     6    15
ceramic engineering                            0     1     1
chemical engineering                           1     8     9
civil engineering                              6    23    29
computer and communication engineering         0     1     1
computer application                          59   185   244
computer engineering                         175   425   600
computer networking                            0     1     1
computer science                               1     1     2
computer science & engineering               183   561   744
computer science and technology                2     4     6
control and instrumentation engineering        0     1     1
electrical and power engineering               0     2     2
electrical engineering                        17    65    82
electronics                                    0     1     1
electronics & instrumentation eng             10    22    32
electronics & telecommunications              28    93   121
electronics and communication engineering    212   668   880
electronics and computer engineering           0     3     3
electronics and electrical engineering        34   162   196
electronics and instrumentation engineering    5    22    27
electronics engineering                        3    16    19
embedded systems technology                    0     1     1
industrial & management engineering            0     1     1
industrial & production engineering            2     8    10
industrial engineering                         1     1     2
information & communication technology         2     0     2
information science                            0     1     1
information science engineering                8    19    27
information technology                       173   487   660
instrumentation and control engineering        9    11    20
instrumentation engineering                    0     4     4
internal combustion engine                     0     1     1
mechanical & production engineering            0     1     1
mechanical and automation                      0     5     5
mechanical engineering                        10   191   201
mechatronics                                   1     3     4
metallurgical engineering                      0     2     2
other                                          0    13    13
polymer technology                             0     1     1
power systems and automation                   0     1     1
telecommunication engineering                  1     5     6
All                                          957  3041  3998

In [36]:
observed = pd.crosstab(dataset["Specialization"], dataset["Gender"])
observed

Gender                                         f    m
Specialization
aeronautical engineering                       1    2
applied electronics and instrumentation        2    7
automobile/automotive engineering              0    5
biomedical engineering                         2    0
biotechnology                                  9    6
ceramic engineering                            0    1
chemical engineering                           1    8
civil engineering                              6   23
computer and communication engineering         0    1
computer application                          59  185
computer engineering                         175  425
computer networking                            0    1
computer science                               1    1
computer science & engineering               183  561
computer science and technology                2    4
control and instrumentation engineering        0    1
electrical and power engineering               0    2
electrical engineering                        17   65
electronics                                    0    1
electronics & instrumentation eng             10   22
electronics & telecommunications              28   93
electronics and communication engineering    212  668
electronics and computer engineering           0    3
electronics and electrical engineering        34  162
electronics and instrumentation engineering    5   22
electronics engineering                        3   16
embedded systems technology                    0    1
industrial & management engineering            0    1
industrial & production engineering            2    8
industrial engineering                         1    1
information & communication technology         2    0
information science                            0    1
information science engineering                8   19
information technology                       173  487
instrumentation and control engineering        9   11
instrumentation engineering                    0    4
internal combustion engine                     0    1
mechanical & production engineering            0    1
mechanical and automation                      0    5
mechanical engineering                        10  191
mechatronics                                   1    3
metallurgical engineering                      0    2
other                                          0   13
polymer technology                             0    1
power systems and automation                   0    1
telecommunication engineering                  1    5

In [37]:
from scipy.stats import chi2, chi2_contingency

In [38]:
chi2_contingency(observed)

(104.46891913608454,
 1.2453868176977011e-06,
 45,
 array([[7.18109055e-01, 2.28189095e+00],
        [2.15432716e+00, 6.84567284e+00],
        [1.19684842e+00, 3.80315158e+00],
        [4.78739370e-01, 1.52126063e+00],
        [3.59054527e+00, 1.14094547e+01],
        [2.39369685e-01, 7.60630315e-01],
        [2.15432716e+00, 6.84567284e+00],
        [6.94172086e+00, 2.20582791e+01],
        [2.39369685e-01, 7.60630315e-01],
        [5.84062031e+01, 1.85593797e+02],
        [1.43621811e+02, 4.56378189e+02],
        [2.39369685e-01, 7.60630315e-01],
        [4.78739370e-01, 1.52126063e+00],
        [1.78091046e+02, 5.65908954e+02],
        [1.43621811e+00, 4.56378189e+00],
        [2.39369685e-01, 7.60630315e-01],
        [4.78739370e-01, 1.52126063e+00],
        [1.96283142e+01, 6.23716858e+01],
        [2.39369685e-01, 7.60630315e-01],
        [7.65982991e+00, 2.43401701e+01],
        [2.89637319e+01, 9.20362681e+01],
        [2.10645323e+02, 6.69354677e+02],
        [7.18109055e-01, 2.28189095e+00],
        [4.69164582e+01, 1.49083542e+02],
        [6.46298149e+00, 2.05370185e+01],
        [4.54802401e+00, 1.44519760e+01],
        [2.39369685e-01, 7.60630315e-01],
        [2.39369685e-01, 7.60630315e-01],
        [2.39369685e+00, 7.60630315e+00],
        [4.78739370e-01, 1.52126063e+00],
        [4.78739370e-01, 1.52126063e+00],
        [2.39369685e-01, 7.60630315e-01],
        [6.46298149e+00, 2.05370185e+01],
        [1.57983992e+02, 5.02016008e+02],
        [4.78739370e+00, 1.52126063e+01],
        [9.57478739e-01, 3.04252126e+00],
        [2.39369685e-01, 7.60630315e-01],
        [2.39369685e-01, 7.60630315e-01],
        [1.19684842e+00, 3.80315158e+00],
        [4.81133067e+01, 1.52886693e+02],
        [9.57478739e-01, 3.04252126e+00],
        [4.78739370e-01, 1.52126063e+00],
        [3.11180590e+00, 9.88819410e+00],
        [2.39369685e-01, 7.60630315e-01],
        [2.39369685e-01, 7.60630315e-01],
        [1.43621811e+00, 4.56378189e+00]]))

In [39]:
chi2_test_stat = chi2_contingency(observed)[0]
pval = chi2_contingency(observed)[1]
df = chi2_contingency(observed)[2]

In [40]:
confidence_level = 0.95
alpha = 1 - confidence_level
chi2_critical = chi2.ppf(1-alpha, df)
chi2_critical

61.65623337627955

In [41]:
if chi2_test_stat < chi2_critical:
  print("Reject Null Hypothesis")
else:
  print("Failed to reject null hypothesis")

Failed to reject null hypothesis